.slide {
background-color: lightskyblue;
text-align: center;
/* margin: 20px;
padding: 40px; */
height: 201px;
border-style: double;
/* border-color: black;
border: 10px; */
}

.slide_image {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 400px;
}

.left-arrow{
    margin-right: 10px;
}
.right-arrow{
    margin-left: 10px;
}
.slide-button{
    background:blue;
    color: lightcyan;
    border:solid;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 10px;
    margin-left: 15px;
  }
  .slide-button:hover{
    background:rgb(92, 200, 236);
    color:black;
  }
  .slide-button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
    transition:400ms ease all;
  }
  .slide-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .slide-button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
#c-background{
  background: linear-gradient(to right, #003399 0%, #0099ff 100%)
}

#card-background{
  background-color: blue;
  /* background: linear-gradient(to right, #003399 0%, #0099ff 100%) */
}

/* To fix style on message board card */
#mb-card {
  background: none;
  width: 90%;
}

#mb-card2 {
  background: none;
  width: 90%;
}